*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), 
    rgba(4, 9, 30, 0.7)), url(images/img1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
} 
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;  
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #0696f6;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%
}
.text-box{
    width: 90%;
    color: rgb(255,255,255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: rgb(255,255,255);
}
.visit-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.visit-btn:hover{
    border: 1px solid #0696f6;
    background: #0696f6;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #010636;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px ;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
     nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 40px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
}

/*----Projects----*/
.Projects{
    background-color: turquoise;
    width: 800;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: ;
}
.Projects h1{
    font-size: 36px;
    font-weight: 600;
    color: rgb(27, 0, 0);
}
p{
    color: rgb(27, 0, 0);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    
}
.row{
    margin-top: 5%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
.project-col{
    flex-basis: 31%;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;   
    transition: 0.5s;
}
.project-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}
.project-col p{
    text-align: center;
    margin: 10px;
}
.project-col:hover{
    box-shadow: 0 0 30px 20px rgba(0, 10, 14, 0.2);
}
@media(max-width: 800px){
    .row{
        flex-direction: column;
    }
}
.Learn-More{
    background-color: turquoise;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(240, 110, 67, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 1000;
    color: #f9fffefd;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.services{
    background-color: turquoise;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}
.services-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

}
.services-col img{
    width: 100%;
    border-radius: 10px;
}
.services-col p{
    padding: 0;
}
.services-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left; 
}
.Us{
    background-color: turquoise;
    width: 100%;
    margin: auto;
    padding-top: 0px;
    text-align: center;
}

.Us-col{
    flex-basis: 31%;
    padding: 20px 12px;    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #cf8fd3;
    padding: 10px;
    cursor: pointer;
    display: flex;
}
.Us-col h3{
    margin-top: 15px;
    font-size: 20px;
    width: 100%;
    color: #04011d;
}
.Us-col h4{
    font-size: 14px;
    width: 100%;
}
.Us-col img{
    height: 80px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 40%;

}
.Us-col img .she{
    height: 200px;
    margin-left: 5px;
    margin-right: 50px;
    border-radius: 5%;
}
.Us-col p{ 
    padding: 0;
}
.Us-col .fa{
    color: #000000;
}
@media(max-width: 700px){
    .Us-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}
.cta{
    margin: 50px auto;
    width: 80%;
    background-image: linear-gradient(rgba(4,9,30,0.7), 
    rgba(4, 9, 30, 0.7)), url(images/bann.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    padding: 100px 0;
    background-color: turquoise;
}
.cta h1{
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}
.footer{
    background-color: turquoise;
    width:100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: black;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;   
}